@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333333;
    background-color: #fafafa;
    padding: 90px 20px 20px 20px;
    margin: 0;
    padding: 0;
    overflow-x:hidden ;

}

header{
    position:fixed;
    font-family: 'Montserrat', sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    color: #1bbeff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 40px;
    transition: top 0.3s ease-in-out;
    
    }
header h1{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px; 
    margin-left: 20px;
}

.logo img {
    width: auto;
    height: 120px ;
    display: block;
    margin-bottom: -30px;
   
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px 40px;
    margin: 0 auto;
    }
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

}
nav a{
    text-decoration: none;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0 4px 0 #cbd5e1;
    transition: all 0.2 ease-in-out;
    color: #000000;
    padding: 10px 22px;
   
}
nav a:hover {
    background-color: #1bbeff;
    transform: translateY(-4px); 
   
}
.donar{
    display: inline-block;
    background-color: #ca0000;
    border-radius: 5%;
}
.donar a{
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 0 2px 0 #cbd5e1;

}
.donar:hover {
    background-color: #1bbeff;
    transform: translateY(-2px);

}
.inicio{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
.inicio img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
body{
    text-align: center;

}
section {
    align-items: center;
    color: #000000;
}
section h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    margin: 0 auto;
    box-shadow: 0px 2px  #b3b2b2;
    letter-spacing: 4px;
}
.columna{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto ;

}
#Impacto h2{
    color: #fafafa;
    border: white;
}
#Impacto{
    background-image: url('../img/textura.png');
    color: #fafafa;
    padding: 40px;
}
#Impacto img{
    flex: 1;
    width: 50%;
    border-left: 3px solid #b3b2b2;
    border-right: 3px solid #b3b2b2;   
}
#Impacto table{
    flex: 1;
    width: 50%;
    border-left: 3px solid #b3b2b2;
    border-right: 3px solid #b3b2b2;
}
#Impacto th{
    border-left:7px solid #9d9e9e;
    border-radius: 2%;
    box-shadow: 0px 2px  #c9c9c936;
}
#Impacto tr{
    background-color: #86868636;
    box-shadow: 0px 2px  #c9c9c936;
}
aside, article{
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
  
}
h3{
    font-size: 3rem;
    letter-spacing: 4px;
}
aside img{ 
    margin-top: 50px;
    width: 100%;
    height: auto;
    border: 5px solid #000000;
}
article img{
    margin-top: 50px;
    width: 100%;
    height: auto;
    border: 5px solid #000000;

}
article a{
    text-decoration: none;
    color: #000000;
}
article a:hover{
    background-color: #9b9b9b;
    transform: translateY(-2px);
}
article{
    background-size: cover;
    background-image: url(../img/texturaGris2.jpg);
    padding: 40px;
}
article p{
    letter-spacing: 2px;
    font-weight: 600;
}
#programas{
    background-color: white;
    background-image: none;
    color: #000000;
    margin: 50px;
    padding: 10px;
}
h2{
    font-size: 3rem;
    letter-spacing: 4px;
    color: #000000;
    border-top:  2px solid #0000005b;
}
#programas p{
    letter-spacing: 3px;
    justify-content: center;
    font-size: 20px;
    width: 90%;
    max-width: 800px;   
    margin: 2rem auto; 
}
#programas dl{
    list-style: none;
    
}

.programa{
    width: 90%;
    max-width: 800px;
    margin: 4rem auto;
    background-image: url(../img/textura.png);
    color: #fafafa;
    padding: 30px;
    box-sizing: border-box;

}
.programa dt{
    background-color: #92929263;
    text-shadow: #000000;
    padding: 5px;
}
.programa dd{
    padding: 5px;
}
#Sumate{
    background-image: url(../img/textura.png);
    text-shadow: #000000;
    color: white;
    padding: 40px;
}
#Sumate h2{
    color: white;
    border: none;
}
#Sumate a{
    text-decoration: none;
    color: white;
    background-color: #ca0000   ;
    font-size: 2rem;
    border-radius: 5%;
    border: 5px solid #ca0000;
    box-shadow: 0 2px 0 #cbd5e167;
    transition: all 0.2s ease-in-out;
}
#Sumate a:hover{
    background-color: #1bbeff;
    border: 5px solid #1bbeff;
}
#Sumate ul{
    border: 3px solid white;
    background-color: #88888841;    
}
#Contacto{
    background-image: url(../img/texturaGris2.jpg);
}
#Contacto a{
    text-decoration: none;
    color: #000000;
    background-color: #00000044;
}
#Nosotros p{
    letter-spacing: 3px;
    justify-content: center;
    font-size: 20px;
    width: 90%;
    max-width: 800px;  
    margin: 2rem auto; 
}
#Nosotros a{
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    background-color: #acacac;
    border: 5px solid #acacac ;
    border-radius: 5%;
    
}
#Nosotros a:hover{
    background-color: #1bbeff;
    border: 5px solid #1bbeff;     
}
#historia{
  margin-top: 100px;

}
p{
    letter-spacing: 3px;
    justify-content: center;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
#Valores h2{
    border: 2px solid #000000;   
}
.valor{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    border-top: 2px solid #0000005b;
    margin: 10%;
    max-width: 1200p  
}   
#Valores tr{
    background-color: #ebebebf5;
    border-radius: 5%;
}
#Valores th{
    border-left: 4px solid #1bbeff;
    border-radius: 5%;
}
#Equipo table{
    margin: auto;
    
}
#Equipo th{
    font-size: 30px;
    letter-spacing: 3px;
    padding: 40px;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
}
#Equipo td{
    letter-spacing: 3px;
    padding: 40px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
}
#Equipo img{
    border: 3px solid black;
    width: 600px;
    height: auto;
}
#Datos{
    margin-top: 8rem;
}
#Datos dl{
    background-image: url(../img/textura.png);
    color: white;
    padding: 40px;
}
#Datos a{
    text-decoration: none;
    color: white;
}
#Datos a:hover{
    background-color: white;
    color: black;
}
#introduccion{
    margin-top: 200px  ;
}

#formulario{
    background-image: none;
    color: #000000;
    border: 4px solid black;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: #1bbeff21;

    
}

#formulario .form{
    letter-spacing: 2px;
    justify-content: center ;
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    margin-top: 15px;
}
#formulario .form label{
    margin-bottom: 10px;
}
#formulario .form input{
    padding: 15px;
    border: 2px solid #e2e8f0;
    border-radius: 6px;
    background-color: #f8fafc;
    text-align: center;
}
#formulario button[type="submit"]{
    background-color: #ca0000 ;
    border-radius: 6px;
    width: 20%;
    color: white;
    border: 4px solid #ca0000;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}
#formulario button[type="submit"]:hover{
    background-color: #1bbeff;
    border: 4px solid #1bbeff;
    transform: translateY(-2px);
  
}
#privacidad{
        margin-bottom: 150px;
       
}
#privacidad p{
     font-size: 15px;
}
.formulario-donar{
    margin-top: 120px;
    background-color: #1bbeff;
    color: white;
    padding: 40px;
    border: 3px solid black;
}
.formulario-donar h2{
    color: white;
    border: none;
}
#selectLugares, #selectProvincia{
    background-color: #464646;
    color: white;
    border: 3px solid black;
}
.ImgDonar img{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    
}
.formulario-donar p{
    
    margin-top: 30px;
}
.card{
    margin-left: 45%;
    margin-right: 45%;
}
.card p{
    letter-spacing: 0px;
    justify-content: center;
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
}