@import url('https://googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333333;
    background-color: #fafafa;
    padding: 90px 20px 20px 20px;
    margin: 0;
    padding: 0;
    overflow-x:hidden ;

}

header{
    position:fixed;
    font-family: 'Montserrat', sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    color: #1bbeff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 40px;
    transition: top 0.3s ease-in-out;
    
    }
header h1{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px; 
    margin-left: 20px;
}

.logo img {
    width: auto;
    height: 120px ;
    display: block;
    margin-bottom: -30px;
   
    
}
nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 15px 40px;
        margin: 0 auto;
    }
nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

}
nav a{
    text-decoration: none;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0 4px 0 #cbd5e1;
    transition: all 0.2 ease-in-out;
    color: #000000;
    padding: 10px 22px;
   
}
nav a:hover {
    background-color: #1bbeff;
    transform: translateY(-4px); 
   
}
.donar{
    display: inline-block;
    background-color: #ca0000;
    border-radius: 5%;
}
.donar a{
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 0 2px 0 #cbd5e1;

}
.donar:hover {
    background-color: #1bbeff;
    transform: translateY(-2px);

}
.inicio{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
.inicio img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
body{
    text-align: center;

}
section {
    align-items: center;
    background-image: url(/tp1/img/textura.png);
    color: #ffffff;
    border-color: 20px solid #1bbeff;
    
}
section h2{
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 3rem;
    margin: 50px;
    box-shadow: 0px 2px  #b3b2b2;
  
}
.columna{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto ;

}
#Impacto img{
    flex: 1;
    width: 50%;
    border-left: 3px solid #b3b2b2;
    border-right: 3px solid #b3b2b2;
    
}
#Impacto table{
    flex: 1;
    width: 50%;
    border-left: 3px solid #b3b2b2;
    border-right: 3px solid #b3b2b2;
}
#Impacto th{
    border-left:7px solid #1bbeff;
    border-radius: 2%;
    box-shadow: 0px 2px  #c9c9c936;
    
    
}
#Impacto tr{
    background-color: #86868636;
    box-shadow: 0px 2px  #c9c9c936;
  
   

}
aside{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 150px;
    margin-bottom: 150px;

}
aside h3{
    font-size: 3rem;
    letter-spacing: 4px;
}
aside img{ 
    margin-top: 50px;
    width: 500px;
    height: auto;
    border: 5px solid #000000;
}
